:root {
    --Background-darkest : #23242C;
    --Background-dark : #3B4554;
    --Background-light: #636B78;
    --Bluecloud: #99A6B9;
    --Whiter: #E4E8EE;
    --Limeyellow: #DBFF4B;
   }

   body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    height: 200vh;
    width: 100vw;
    overflow-x: hidden;
  }
  
  .sticky-nav {
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .progress-bar {
    margin-top: 15px;
    height: 5px;
    width: 0;
    background-color: #DBFF4B;
    transition: width 0.5s;
  }
  
  .navigation {
    box-sizing: border-box;
    display: flex;
    width: 366px;
    padding: 0 24px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  
  .numbers {
    display: flex;
    gap: 70px;
    width: 100%;
    height: 16px;
  }
  
  .numbers h2 {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    white-space: nowrap;
  }
  
  .pages {
    display: flex;
    gap: 12px;
    align-items: center;
    align-self: stretch;
    width: 100%;
    height: 11px;
  }
  
  .pages h2 {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Space Grotesk;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    white-space: nowrap;
  }
  
  .headerlogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  